body{
    background: url(photo.png);
   }
#btn-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
   margin-top: 15%;
  margin-right: 20%;
  flex-wrap: wrap;
 
}
.btnMenu{
  margin: 10px;
  padding: 10px;
 
}
#btn{
    background-color: black;
   
}

a{
    text-decoration: none;
    font-family: 'Joan', serif;
    font-size: 30px;
    color: white;
    text-shadow: 10px 6px 9px rgba(255,255,255,0.47);
    
}
a:hover{
    color: blueviolet;
    transition-duration: 1s;
}
